@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("Images/bg.png");
    background-repeat: no repeat; 
    background-attachment: fixed;
    background-size: auto 90%; 
} 

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /*This disables scrollbars*/
    width: 100%;
    height: 100%;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-top: 20px;   
}

.banner .slider{
    position: absolute;
    width: 190px;
    height: 170px;
    top: 15%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);   
    }to{
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content{
    position: absolute;
    flex-direction: column;
    /* bottom: 10%; */
    /* padding: 0 20px; */
    /* gap: 1rem; */
    bottom: 0;
    padding-bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: yellow;
    margin: 0 auto;
    position: relative;
    font-size: clamp(2em, 10vw, 16em);
    
}

.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 3;
    -webkit-text-stroke: 2px white;
    color: transparent; 
    text-align: center;
}

.banner .content .author{
    font-family: poppins;
    text-align: right;
    max-width: 200px;
    margin-left: auto;
}

.banner .content h2 {
    font-size: 2em; 
}

.banner .content .author{
    color: #252838;
}

.banner .content .model{
    background-image: url('images/model.png');
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 2;
}
